.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 729px;
  }
}

@media screen and (max-width: 725px) {
  .container {
    max-width: 328px;
    padding: 0;
  }
}
