.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__logo {
    transition: 0.3s ease;
  }

  &__logo:hover {
    opacity: 0.7;
  }

  &__logo:active {
    opacity: 0.4;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    margin-right: 60px;

    &:first-child {
      margin-right: 82px;
    }

    &:nth-child(3) {
      margin-right: 82px;
    }
  }

  &__nav-item-link {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #222222;
    transition: 0.3s ease;

    &:nth-child(2) {
      color: #2f2f2f;
    }

    &:last-child {
      color: #2f2f2f;
    }
  }

  &__nav-item-link:hover {
    opacity: 0.7;
  }

  &__nav-item-link:active {
    opacity: 0.4;
  }
}
