@keyframes nav-open {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header {
  background-color: $white-color;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__logo {
    transition: 0.3s ease;
  }

  &__logo:hover {
    opacity: 0.7;
  }

  &__logo:active {
    opacity: 0.4;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    margin-right: 60px;

    &:first-child {
      margin-right: 82px;
    }

    &:nth-child(3) {
      margin-right: 82px;
    }
  }

  &__nav-item-link {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #222222;
    transition: 0.3s ease;

    &:nth-child(2) {
      color: #2f2f2f;
    }

    &:last-child {
      color: #2f2f2f;
    }
  }

  &__nav-item-link:hover {
    opacity: 0.7;
  }

  &__nav-item-link:active {
    opacity: 0.4;
  }

  &__btn {
    display: none;
    margin-left: auto;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 1340px) {
  .header__container {
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header__logo-img {
    width: 166px;
    height: 41px;
  }

  .header__nav-item-link {
    font-size: 15px;
    line-height: 20px;
  }

  .header__nav-item {
    margin-right: 25px;

    &:first-child {
      margin-right: 32px;
    }

    &:nth-child(3) {
      margin-right: 32px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header__logo-img {
    width: 146px;
    height: 31px;
  }

  .header__nav-item-link {
    font-size: 15px;
    line-height: 20px;
  }

  .header__nav-item {
    margin-right: 25px;

    &:first-child {
      margin-right: 32px;
    }

    &:nth-child(3) {
      margin-right: 32px;
    }
  }
}

@media screen and (max-width: 725px) {
  .header__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header__btn {
    display: block;
  }

  .header__nav {
    display: none;
    background-color: $secondary-color;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
  }

  .nav-open {
    display: block;
    transform-origin: top right;
    animation: nav-open 0.3s linear;
  }

  .header__nav-list {
    margin-top: 90px;
    margin-left: 110px;
    display: flex;
    flex-direction: column;
  }

  .header__nav-item-link {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: $white-color;
    transition: 0.3s ease;

    &:nth-child(2) {
      color: $white-color;
    }

    &:last-child {
      color: $white-color;
    }
  }
}
