.home-page {
  margin-bottom: 110px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $secondary-color;
    margin-bottom: 10px;
  }

  &__description {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #525665;
    margin-bottom: 69px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item-link {
    transition: 0.3s ease;
  }

  &__item-link:hover {
    opacity: 0.7;
  }

  &__item-link:active {
    opacity: 0.4;
  }

  &__item-title {
    margin-top: 40px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #242f65;
  }
}

@media screen and (max-width: 1340px) {
  .home-page {
    margin-bottom: 80px;
  }

  .home-page__title {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 10px;
  }

  .home-page__description {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 55px;
  }

  .home-page__item-title {
    margin-top: 30px;
    font-size: 22px;
    line-height: 34px;
  }
}

@media screen and (max-width: 1024px) {
  .home-page {
    margin-bottom: 50px;
  }

  .home-page__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 8px;
  }

  .home-page__description {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 35px;
  }

  .home-page__item-title {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 725px) {
  .home-page {
    margin-bottom: 30px;
  }

  .home-page__title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 5px;
  }

  .home-page__description {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .home-page__list {
    flex-direction: column;
  }

  .home-page__item {
    margin-bottom: 20px;
  }

  .home-page__item:last-child {
    margin-bottom: 0;
  }

  .home-page__item-title {
    margin-top: 15px;
    font-size: 10px;
    line-height: 18px;
  }
}
