.intro {
  margin-bottom: 120px;

  &__container {
    border-radius: 20px;
    background-image: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 1063px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 163px;
    padding-bottom: 130px;
  }

  &__title {
    width: 1186px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 130px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $secondary-color;
    margin-bottom: 10px;
    position: relative;
  }

  &__title::before {
    content: 'UIUXer';
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 130px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $main-color;
    position: absolute;
    z-index: 1;
    left: 845px;
    top: 130px;
  }

  &__text {
    width: 500px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $secondary-color;
    margin-bottom: 25px;
  }

  &__wrapper-link {
    margin-bottom: 60px;
    display: flex;
  }

  &__link-blue {
    margin-left: 10px;
    background-color: #7390f9;
    border: 1px solid #7390f9;
    border-radius: 10px;
  }

  &__link-blue:hover {
    background-color: #fff;
    border: 1px solid #7390f9;
    color: #7390f9;
  }

  &__link-blue:active {
    opacity: 0.5;
  }

  &__link-img {
    transition: 0.3s ease;
  }

  &__link-img:hover {
    opacity: 0.7;
  }

  &__link-img:active {
    opacity: 0.4;
  }
}
