.studies {
  background-color: #edf0f9;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $secondary-color;
    margin-bottom: 10px;
  }

  &__text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #525665;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item-link {
    transition: 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__item-title {
    margin-top: 40px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $secondary-color;
  }
}

@media screen and (max-width: 1340px) {
  .studies {
    margin-bottom: 80px;
  }

  .studies__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .studies__title {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 10px;
  }

  .studies__text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 55px;
  }

  .studies__item-title {
    margin-top: 30px;
    font-size: 22px;
    line-height: 34px;
  }
}

@media screen and (max-width: 1024px) {
  .studies {
    margin-bottom: 50px;
  }

  .studies__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .studies__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 8px;
  }

  .studies__text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 35px;
  }

  .studies__item-title {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 725px) {
  .studies {
    margin-bottom: 30px;
  }

  .studies__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .studies__title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 5px;
  }

  .studies__text {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .studies__list {
    flex-direction: column;
  }

  .studies__item {
    margin-bottom: 20px;
  }

  .studies__item:last-child {
    margin-bottom: 0;
  }

  .studies__item-title {
    margin-top: 15px;
    font-size: 10px;
    line-height: 18px;
  }
}
